<h1> <%= @optometrist.first_name %> <%= @optometrist.last_name%>'s Contact Details:</h1>
<h5>Optometrist</h5>
First Name: <%= @optometrist.first_name %> <br><br>
Last Name: <%= @optometrist.last_name %> <br><br>
Phone Number: <%= @optometrist.phone_number %> <br><br>
Email: <%= @optometrist.optometrist_email %> <br><br>
Address: <%= @optometrist.address %> <br><br>
Notes: <%= @optometrist.notes %><br><br>