<% if @patient.errors.any? %>
<div id="error_explanation">
<h2> <%= pluralize(@patient.errors.count, "error") %> prohibited entry from being saved </h2>
    <ul>
        <% @patient.errors.full_messages.each do |msg| %>
            <li> <%= msg %></li>
        <% end %> 
    </ul>
    </div>
<% end %>

<%= form_for @patient do |f| %>

    <%= f.label :first_name %>
    <%= f.text_field :first_name %><br><br>

    <%= f.label :last_name %>
    <%= f.text_field :last_name %><br><br>

    <%= f.label :phone_number %>
    <%= f.telephone_field :phone_number %><br><br>

    <%= f.label :email %>
    <%= f.email_field :email %><br><br>

    <%= f.label :address %>
    <%= f.text_field :address %><br><br>

    <%= f.label :birthdate %>
    <%= f.date_field :birthdate %><br><br>

    <%= f.label :total_revenue %>
    <%= f.number_field :total_revenue, min: 0, step: 0.01 %><br><br>

    <%= f.label :notes %>
    <%= f.text_area :notes %><br><br>

    Select Optometrist:
    <%= f.collection_select :optometrist_id, Optometrist.all, :id, :last_name %><br><br>

    If your Optometrist isn't present, click here to <%= link_to("create Optometrist", new_optometrist_path)%> <br><br><br>

    <%= f.submit %>

<% end %>
