<h1> All <%=@optician.first_name%>'s Patients </h1>

<h2> Number of patients: <%= @patients.length %> </h2>
<% if @patients.length > 0 %>

<h4> Patient Names: </h4>
<% @patients.each do |patient| %>
    <li><%= link_to patient.full_name, patient_path(patient) %></li><br>
<%end%>

</ul>
<%end%>

<%= link_to("Create Patient", new_patient_path)%><br><br><br>

<%= flash[:message] = "Logged in as: #{@optician.username}." %>


