<h1> All Dr. <%=@optometrist.last_name%>'s Patients </h1>



<h2> Number of patients: <%= @patients.length %> </h2>
<% if @patients.length > 0 %>

<h4> Patient Names: </h4>
<% @patients.ordered_by_revenue.each do |patient| %>
    <li><%= link_to patient.full_name, optometrist_patient_path(@optometrist, patient) %></li><br>
<%end%>

</ul>
<%end%>

<%= link_to("Create Patient", new_optometrist_patient_path(@optometrist.id))%><br><br><br>
<%= link_to("Optometrist's Details", optometrist_path(@optometrist.id))%><br><br><br>


