<h1> <%= @patient.first_name %> <%= @patient.last_name%>'s Patient Information:</h1>

First Name: <%= @patient.first_name %> <br><br>
Last Name: <%= @patient.last_name %> <br><br>
Phone Number: <%= @patient.phone_number %> <br><br>
Email: <%= @patient.email %> <br><br>
Address: <%= @patient.address %> <br><br>
Birthdate: <%= @patient.birthdate %> <br><br>
Optometrist of Record: <%= @patient.optometrist.first_name %> <%= @patient.optometrist.last_name %> <br><br>
Total Revenue: <%= @patient.total_revenue %> <br><br>
Notes: <%= @patient.notes %>

