<h1>Optician Registration</h1>
<h3>Please fill out the below form and click "Register" once complete.</h3>

<%=form_for(@optician) do |f| %>

    <div><br>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
    </div></br>

    <div><br>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
    </div></br>

    <div><br>
    <%= f.label :username %>
    <%= f.text_field :username %>
    </div></br>

    <div><br>
    <%= f.label :email %>
    <%= f.email_field :email %>
    </div></br>

    <div><br>
    <%= f.label :password %>
    <%= f.password_field :password %>
    </div></br>

    <div><br>
    <%= f.label :certificate_number %>
    <%= f.text_field :certificate_number %>
    </div></br>

    <div><br>
    <%= f.submit "Register" %>
    </div></br>

<% end %>