<!DOCTYPE html>
<html>
  <head>
    <title>OPTICIANStore</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if logged_in? %>
    <%= link_to("Home", root_path)%>&nbsp
    <%= link_to("My Optometrists", optometrists_path)%>&nbsp 
    <%= link_to("Logout", logout_path, method: :delete)%>&nbsp
  <%end%> 
  <%= yield %>
  </body>


</html>
